
/*
    GRID
*/

#PoD-App {
    height: 100%;
    background-color: lightgrey;
}

#PoD-App_Heading {
    height: 10%;
    color: black;
}

#PoD-App_TabWrapper {
    height: 85%;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

.PoD-App_Tab {
    height: 100%;
    background-color: rgba(43, 43, 43, 0.11);
    border: thick solid lightgrey;
}

#Tab1masterRow {
    padding: 10px;
    height: 100%;
    border: thin solid white;
    border-radius: 5px;
}


