
/*
    TexTile Styles
*/

/* MENU */
#TexTileWordInput {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-size: 2vh;
    height: 100%;
    width: 100%;
    border: thin solid grey;
}

#GenTexTileButton{
    background-color: #fb8072;
    height: 100%;
}

#GenTexTileButton:hover {
    background-color: #d36a6a;
    cursor: pointer;
}

#FabricVisContainer {
    overflow-y: scroll;
    scrollbar-arrow-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

/* VISUALIZATION */
.tooltip {
    position: absolute;
    text-align: center;
    height: 30px;
    font: 12px sans-serif;
    background: #ffffff;
    border: thin solid grey;
    pointer-events: none;
}
