<html>
    <head>
        <title>Patterns Of Discourse</title>

        <!-- google font -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:200,200i,300,300i,400,400i,500,500i" rel="stylesheet">

        <!-- bootstrap css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap.css') }}">

        <!-- own css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/TexTile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/matrix.css') }}">
    </head>


    <body>
        <!-- PATTERNS OF DISCOURSE -->

        <!-- Wrapper for entire App -->
        <div id="PoD-App" class="carousel slide" data-ride="carousel">

            <!-- HEADING -->
            <div class="row justify-content-center align-items-center" id="PoD-App_Heading"><h1>Patterns of Discourse</h1></div>

            <!-- Wrapper for all Tabs -->
            <div id="PoD-App_TabWrapper" class="carousel-inner">

                <!-- TAB 1 - TexTileTAB - carousel item -->
                <div class="carousel-item active container-fluid PoD-App_Tab">

                    <!-- overall row for Tab 1 --- !START HERE! -->
                    <div class="row" id="Tab1masterRow" style="border:thin solid grey">

                        <!-- left -->
                        <div class="col-2" id="CreateYourCorpusContainer" style="height: 100%">
                            <div class="row justify-content-center align-items-center" style="border-bottom: thin solid grey; height: 8%"><h2 >Curate Your Corpus</h2></div>
                            <div class="row" id ="corpusList" style="height: 92%">

                            </div>
                        </div>

                        <!-- middle -->
                        <div class="col-6" style="border-left: thin solid grey; border-right: thin solid grey; height: 100%">
                            <div class="row justify-content-center align-items-center" style="border-bottom: thin solid grey; height: 8%;">
                                <div class="col-6"><div class="row justify-content-center align-items-center"><h2>Create TexTile Visualization for:</h2></div></div>
                                <div class="col-3"><input id="TexTileWordInput" placeholder="Enter Word"></div>
                                <div class="col-3"><div class="row justify-content-center align-items-center" id="GenTexTileButton" onclick="gatherCorpusData()"><h2>Generate</h2></div></div>
                            </div>
                            <div class="row" style="height: 92%" id="FabricVisContainer"></div>
                        </div>

                        <!-- right -->
                        <div class="col-4" style="height: 100%">
                            <div class="row justify-content-center align-items-center" style="border-bottom: thin solid grey; height: 8%"><h2>Most Common Words in Surrounding</h2></div>
                            <div class="row" style="border-bottom: thin solid grey; height: 32%">
                                <div class="col-3" id="top10"></div>
                                <div class="col-3" id="top20"></div>
                                <div class="col-3" id="top30"></div>
                                <div class="col-3">
                                    <div class="row">
                                        <div class="col-6" style="writing-mode: vertical-lr; height: 100%"><span>Color Table</span></div>
                                        <div class="col-6" id="colorScale">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center" style="border-bottom: thin solid grey; height: 8%"><h2 >Popularity of Word over time</h2></div>
                            <div class="row" id='lineChartSVG' style="height: 52%"></div>
                        </div>

                    </div>
                </div>


                <!-- TAB 2 --- NETWORK -->
                <div class="carousel-item container-fluid PoD-App_Tab">

                    <!-- overall row for Tab 2 --- !START HERE! -->
                    <div class="row" id="Tab2masterRow">


                        <div class="col-3" style="height: 100%; background-color: lavender"><h2>Filter</h2></div>
                        <div class="col-9" style="border: thin solid red">
                            <div class='row' id="NetworkGraphDiv" style="height:100%"></div>
                        </div>
                    </div>
                </div>


                <!-- TAB 3 --- MATRIX -->
                <div class="carousel-item container-fluid PoD-App_Tab" id="test2">

                    <!-- overall row for Tab 2 --- !START HERE! -->
                    <div class="row" id="Tab3masterRow">

                        <!-- left -->
                        <div class="col-3" style="height: 100%; border: thin solid grey; border-radius: 5px">
                            <div class="row justify-content-center align-items-center" style="border-bottom: thin solid grey; height: 8%"><h2>Sort</h2></div>
                            <div class="row" style="height: 5%">
                                    <select id="order" style="width: 100%; border: 0;">
                                        <option value="name">Alfabética</option>
                                        <option value="count">por Frequência</option>
                                        <option value="group">por Área</option>
                                    </select>

                            </div>
                            <div class="row" style="height: 10%"></div>
                            <div class="row justify-content-center align-items-center" style="border-bottom: thin solid grey; height: 8%"><h2>Filter1</h2></div>
                            <div class="row" style="height: 40%"></div>
                        </div>

                        <!-- right -->
                        <div class="col-9">
                            <div class="row" id="matrixSVG" style="height:100%"></div>
                        </div>
                    </div>
                </div>

                <!-- closing carousel tab wrapper -->
            </div>

            <!-- indicators -->
            <ol class="carousel-indicators">
                <li data-target="#PoD-App" data-slide-to="0" class="active"></li>
                <li data-target="#PoD-App" data-slide-to="1"></li>
                <li data-target="#PoD-App" data-slide-to="2"></li>
            </ol>

            <!-- closing CaraneaApp wrapper -->
        </div>





        <!-- JAVASCRIPT LIBRARIES -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
        <!-- axios --> <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <!-- adding d3.js and vis.js-->
        <!--<script src="js/libs/d3.min.js"></script>-->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>

        <!-- OWN JAVASCRIPT FILES -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

        <script src="{{ url_for('static', filename='js/TexTileVis.js') }}"></script>
        <script src="{{ url_for('static', filename='js/corpus.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lineChart.js') }}"></script>
        <script src="{{ url_for('static', filename='js/networkGraph.js') }}"></script>
        <script src="{{ url_for('static', filename='js/matrix.js') }}"></script>


        <script>$('.carousel').carousel({
            interval: false
        })</script>

    </body>
</html>
