<html>
    <head>
        <title>TexTiles</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- google font -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:200,200i,300,300i,400,400i,500,500i" rel="stylesheet">

        <!-- bootstrap css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap.css') }}">

        <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />


        <!-- own css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/TexTile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/lineVis.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/matrix.css') }}">
    </head>


    <body>
        <!-- PATTERNS OF DISCOURSE -->

        <!-- Wrapper for entire App -->
        <div id="PoD-App" class="carousel slide" data-ride="carousel">

            <!-- HEADING -->
            <div class="row justify-content-center align-items-center" id="PoD-App_Heading"><h1>TexTiles</h1></div>

            <!-- Wrapper for all Tabs -->
            <div id="PoD-App_TabWrapper" class="carousel-inner">

                <!-- TAB 1 - TexTileTAB - carousel item -->
                <div class="carousel-item active container-fluid PoD-App_Tab">

                    <!-- overall row for Tab 1 --- !START HERE! -->
                    <div class="row" id="Tab1masterRow">

                        <!-- left -->
                        <div class="col-2" id="CreateYourCorpusContainer" style="height: 100%">
                            <div class="row justify-content-center align-items-center" style="border-bottom: thin solid grey; height: 8%"><h2>Curate Your Corpus</h2></div>
                            <div class="row" id ="corpusList" style="height: 92%"></div>
                        </div>

                        <!-- middle -->
                        <div class="col-6" style="border-left: thin solid grey; border-right: thin solid grey; height: 100%">
                            <div class="row justify-content-center align-items-center" style="border-bottom: thin solid grey; height: 8%;">
                                <div class="col-6"><div class="row justify-content-center align-items-center"><h2>Create TexTile Visualization for:</h2></div></div>
                                <div class="col-3"><input id="TexTileWordInput" placeholder="Enter Word"></div>
                                <div class="col-3"><div class="row justify-content-center align-items-center" id="GenTexTileButton" onclick="gatherCorpusData()"><h2>Generate</h2></div></div>
                            </div>
                            <div class="row" style="height: 92%">
                                <div id="FabricVisContainer"></div>
                            </div>
                        </div>

                        <!-- right -->
                        <div class="col-4">
                            <div class="row justify-content-center align-items-center" style="border-bottom: thin solid grey; height: 8%"><h2>Most Common Words in Surrounding</h2></div>
                            <div class="row" style="border-bottom: thin solid grey; height: 32%">

                                <!-- word list 1 -->
                                <div class="col-9">
                                    <div class="row" style="height: 100%;">
                                        <div class="col-12" style="overflow-y: scroll; overflow-x: hidden">
                                            <div class="row" id="t1-list" style="height: 100%;"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- color scale -->
                                <div class="col-3">
                                    <div class="row" style="height: 100%">
                                        <div class="col-6" style="writing-mode: vertical-lr; height: 100%"><span>Color Table</span></div>
                                        <div class="col-6" id="colorScale"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center" style="border-bottom: thin solid grey; height: 8%"><h2>Popularity of Word over time</h2></div>
                            <div class="row" id='lineChartSVG' style="height: 52%"></div>
                        </div>

                    </div>
                </div>



                <!-----------------------------------
                -------------------------------------
                ------     TAB 2 - NETWORK     ------
                -------------------------------------
                ------------------------------------>
                <div class="carousel-item container-fluid PoD-App_Tab">

                    <!-- overall row for Tab 2 --- !START HERE! -->
                    <div class="row" id="Tab2masterRow">

                        <!-- filter -->
                        <div class="col-12" style="height: 20%; border: thin solid grey; border-radius: 5px">
                            <div class="row" style="height: 100%; margin-bottom: 1%">

                                <!-- left -->
                                <div class="col-6" style="border-right: thin solid grey">
                                    <div class="row">
                                        <div class="col-12">FILTER</div>
                                        <div class="col-8 offset-1">
                                            <div class="row" style=" height: 75%; border-right: thin solid grey; text-align: left">
                                                <form id="networkDataFilterForm" style="font-size: 1.5vh">
                                                    <input type="radio" id="filterBySelectedWords" name="contact" checked>
                                                    <label for="filterBySelectedWords">visualize only selected words</label><br>
                                                    <input type="radio" id="filterBySelectedWordsAndEnvironments" name="contact">
                                                    <label for="filterBySelectedWordsAndEnvironments">visualize selected words and their environments</label><br>
                                                    <input type="radio" id="noFilters" name="contact">
                                                    <label for="noFilters">visualize all words that appear in environments of the keyword</label>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <form style="font-size: 1.5vh">
                                                <input type="checkbox" id="test"
                                                       name="contact" value="email">
                                                <label for="test">disable automatic updating</label>
                                                <button>apply & redraw</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>

                                <!-- middle -->
                                <div class="col-6">
                                    <div class="row" style="height:100%; overflow-x: hidden">
                                        <div class="row" style="height:100%" id="t2-list"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- chord vis -->
                        <div class="col-6" style="height: 79%; border-right: thin solid transparent;">
                            <div class="row" id="chordVisDiv" style="border: thin solid grey; border-radius: 5px; height: 100%">
                            </div>
                        </div>

                        <!-- network vis -->
                        <div class="col-6" style="height: 79%; border-left: thin solid transparent;">
                            <div class='row' id="NetworkGraphDiv" style="border: thin solid grey; border-radius: 5px; height: 100%"></div>
                        </div>

                    </div>
                </div>


                <!-----------------------------------
                -------------------------------------
                -------     TAB3 - MATRIX     -------
                -------------------------------------
                ------------------------------------>

                <div class="carousel-item container-fluid PoD-App_Tab" id="test2">

                    <!-- overall row for Tab 3 --- !START HERE! -->
                    <div class="row" id="Tab3masterRow">

                        <!-- left -->
                        <div class="col-3" style="height: 100%; border: thin solid grey; border-radius: 5px">
                            <div class="row justify-content-center align-items-center" style="border-bottom: thin solid grey; height: 8%"><h2>Sort</h2></div>
                            <div class="row" style="height: 5%">
                                    <select id="order" style="width: 100%; border: 0; background: #d36a6a; text-align-last: center">
                                        <option value="name">alphabetical</option>
                                        <option value="count">by frequence</option>
                                        <option value="group">test (e.g. by group)</option>
                                    </select>

                            </div>
                            <div class="row" style="height: 11%"></div>
                            <div class="row justify-content-center align-items-center" style="border-bottom: thin solid grey; height: 8%"><h2>Filter1</h2></div>
                            <div class="row" style="height: 30%"></div>
                            <div class="row justify-content-center align-items-center" style="border-bottom: thin solid grey; height: 8%"><h2>Filter2</h2></div>
                            <div class="row" style="height: 30%"></div>
                        </div>

                        <!-- center -->
                        <div class="col-6">
                            <div class="row" id="matrixSVG" style="height:100%"></div>
                        </div>

                        <!-- right -->
                        <div class="col-3" style="height:100%; border: thin solid grey; border-radius: 5px">
                            <div class="row justify-content-center align-items-center" style="border-bottom: thin solid grey; height: 8%"><h2>metaInfo</h2></div>
                            <div class="row" style="height: 30%"></div>
                            <div class="row justify-content-center align-items-center" style="border-bottom: thin solid grey; height: 8%"><h2>usage</h2></div>
                            <div class="row" style="height: 30%"></div>
                        </div>
                    </div>
                </div>

                <!-- closing carousel tab wrapper -->
            </div>

            <!-- indicators -->
            <ol class="carousel-indicators">
                <li data-target="#PoD-App" data-slide-to="0" class="active"></li>
                <li data-target="#PoD-App" data-slide-to="1"></li>
                <li data-target="#PoD-App" data-slide-to="2"></li>
            </ol>

            <!-- closing CaraneaApp wrapper -->
        </div>





        <!-- JAVASCRIPT LIBRARIES -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
        <!-- axios --> <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>

        <!-- adding d3.js, vis.js, and viz.js-->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
        <script src="http://vizjs.org/viz.v1.1.0.min.js"></script>

        <!-- OWN JAVASCRIPT FILES -->

        <!-- HELPER FUNCTIONS -->
        <script src="{{ url_for('static', filename='js/corpus.js') }}"></script>
        <script src="{{ url_for('static', filename='js/htmlAutomats.js') }}"></script>
        <script src="{{ url_for('static', filename='js/colorManager.js') }}"></script>

        <!-- GRAPHS -->
        <script src="{{ url_for('static', filename='js/TexTileVis.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lineVis.js') }}"></script>
        <script src="{{ url_for('static', filename='js/chordVis.js') }}"></script>
        <script src="{{ url_for('static', filename='js/networkVis.js') }}"></script>
        <script src="{{ url_for('static', filename='js/matrixVis.js') }}"></script>

        <!-- MAIN -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

        <!-- INITIALIZE CAROUSEL -->
        <script>$('.carousel').carousel({
            interval: false
        })</script>

    </body>
</html>
